#myCarousel {
  width: 500px;
  box-shadow: inset black 10px 10px 40px;
}

.carousel-item {
  height: 20rem;

  position: relative;
}

.container {
  position: absolute;
  left: 200px;
  top: 80px;
}

.overlay-image {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 1;
}

.carousel-caption {
  color: $dkgreen;
  background-color: $ltgreen;
}
