@import "variables";
@import "buttons";

/* Mixin to create vertical, horizontal or radial gradient */
@mixin gradient($start-color, $end-color, $orientation) {
  background: $start-color;
  @if $orientation == "vertical" {
    /* Vertical gradient */
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == "horizontal" {
    /* Horizontal gradient */
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    /* Radial gradient */
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

/* Usage */
.gradient {
  @include gradient($mdgreen, $ltgreen, vertical);
}

header {
  display: flex;
  width: 100vw;
  min-height: 10vh;
  background-color: $ltgreen;
  color: $dkgreen;
  border-radius: 0 0 85% 85% / 30%;

  image {
    min-width: 10vw;
  }

  #logo {
    position: relative;
    padding: 0px 0px 0px 5px;
    width: 100%;
    height: auto;
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }
  @keyframes logo {
    0% {
      transform: rotate(12deg);
      left: 18px;
    }

    100% {
      transform: rotate(8deg);
      left: 35px;
    }
  }

  h1 {
    z-index: 2;
    font-weight: bold;
    overflow-wrap: anywhere;
  }
  .typing-demo {
    width: 24ch;
    animation: typing 4s steps(24), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;

    @keyframes typing {
      from {
        width: 0;
      }
    }

    @keyframes blink {
      50% {
        border-color: transparent;
      }
    }
  }
}
