#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: $dkgreen; /* Set a background color */
  color: $gold; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 17px; /* Some padding */
  border-radius: 55%; /* Rounded corners */

  font-family: $techfont;
  font-size: 18px; /* Increase font size */

  &:hover {
    background-color: #506a54; /* light green while hovering the mouse */
  }
}
