@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.btn {
  width: 100px;
  height: 50px;
  cursor: pointer;
  background-color: #f8c925;
  color: #753205;
  letter-spacing: 0; }
  .btn:hover {
    background-color: #162f21;
    color: #f5741e;
    letter-spacing: 3px;
    transform: scale(0.9);
    transition: all 0.5s ease-in-out; }

/* Mixin to create vertical, horizontal or radial gradient */
/* Usage */
.gradient {
  background: #506a54;
  /* Vertical gradient */
  background: linear-gradient(to bottom, #506a54, #e7f0eb); }

header {
  display: flex;
  width: 100vw;
  min-height: 10vh;
  background-color: #e7f0eb;
  color: #162f21;
  border-radius: 0 0 85% 85% / 30%; }
  header image {
    min-width: 10vw; }
  header #logo {
    position: relative;
    padding: 0px 0px 0px 5px;
    width: 100%;
    height: auto;
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out; }
@keyframes logo {
  0% {
    transform: rotate(12deg);
    left: 18px; }
  100% {
    transform: rotate(8deg);
    left: 35px; } }
  header h1 {
    z-index: 2;
    font-weight: bold;
    overflow-wrap: anywhere; }
  header .typing-demo {
    width: 24ch;
    animation: typing 4s steps(24), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em; }
@keyframes typing {
  from {
    width: 0; } }
@keyframes blink {
  50% {
    border-color: transparent; } }
footer {
  width: 100vw;
  position: fixed;
  margin-top: auto;
  bottom: 0;
  background-color: #162f21; }

.btn {
  width: 100px;
  height: 50px;
  cursor: pointer;
  background-color: #f8c925;
  color: #753205;
  letter-spacing: 0; }
  .btn:hover {
    background-color: #162f21;
    color: #f5741e;
    letter-spacing: 3px;
    transform: scale(0.9);
    transition: all 0.5s ease-in-out; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  line-height: 1.6; }
  @media (max-width: 1200px) {
    html {
      font-size: calc(10px + 0.2vw); } }

body {
  background-color: #e7f0eb; }

h1,
h2,
h3 {
  font-family: "Courier Prime", monospace; }

p {
  font-family: "Montserrat", sans-serif; }

/*# sourceMappingURL=mainStyle.css.map */
